nav {
  text-align: right;
	margin: 27px auto 0;
  position: relative;
	width: auto;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}

.menu-left {
  font-size: 1.5em;
  font-weight: bold;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	right: 210px;
	background-color:lightgreen;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	right: 100px;
	background-color:green;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	right: 0px;
	background-color:darkgreen;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

body {
  font-family: "Verdana", sans-serif;
}

.text {
  text-align: center;
  width:80%;
  margin: auto;
}

.counter-sec{
  padding: 80px 0;
  width: 100%;
  background: #131416;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.num{
  font-size: 40px;
  margin: 20px 0;
}
button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button:hover {
  border: 1px #C6C6C6 solid;
  box-shadow: 1px 1px 1px #EAEAEA;
  color: #333333;
  background: #F7F7F7;
}

button:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;   
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

img {
  height: 100px;
}

.container {
  display: flex;
  align-items:center; /* Aligns the image and text vertically */
  gap: 20px;
}